<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= simple_form_for @form, as: :user, url: users_path, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :password, as: :string %>
  <%= f.button :submit, "Create" %>
<% end %>
