<div class="page-header">
  <h1>Registration</h1>
</div>

<%= simple_form_for @form, as: :user, url: register_path, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Register" %>
<% end %>
